@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

#food-banner {
    width: 100%;
    height: 60vh;
    background-image: url("../Image/room.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#drink-banner {
    width: 100%;
    height: 60vh;
    background-image: url("../Image/drink/drink7.jpg");
    /*Blur background image*/
    /*filter: blur(2px);*/
    /*-webkit-filter: blur(2px);*/
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#contact-banner {
    width: 100%;
    height: 60vh;
    background-image: url("../Image/conatact/contact1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

ul li {
    list-style: none;
    display: inline;
}

.card {
    margin-top: 40px;
}

.con {
    text-align: center;
}

.menu-o {
    font-size: 80px;
}

.text-show-case-o {
    color: #fff;
    font-size: 3.5rem;
    padding-top: 10rem;
}

.text-show-case-o .text-case-o h2 {
    display: block;
    text-align: center;
    font-weight: bold;
}


/* .text-blue-color {
    color: #161E33;
} */


/* food page */

.card {
    border: 1px solid rgb(73, 89, 128);
    border-radius: 15px;
}

.card img {
    border-radius: 15px 15px 0 0;
}

.card-body h3 {
    font-size: 2rem;
}

.con {
    border-radius: 0 0 15px 15px;
    background-color: #161E33;
    color: #fff;
}

.food-quote {
    width: 100%;
    text-align: center;
}

.food-quote h2 {
    display: inline-block;
    font-size: 3rem;
    color: #161E33;
    margin: 5rem auto 1rem;
    border-bottom: 2px solid #161E33;
    font-family: 'Courgette', cursive;
}


/* contact us */

#contact-us {
    color: #161E33;
}

#contact-us input,
#contact-us textarea {
    background-color: #161E33;
    color: #fff;
}


/* small screen  */

@media (max-width: 800px) {
    .menu-o {
        font-size: 40px;
    }
    .text-case-o {
        padding-top: 2.2rem;
    }
    .food-quote h2 {
        font-size: 2.5rem;
        margin: 3rem auto 1rem;
    }
    .phone-number {
        margin-top: 3rem;
    }
}